@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(0deg, #21202E 0%, #21202E 100%);
}

.gradient-bg {
  background: linear-gradient(0deg, #21202E 0%, #21202E 100%);
}

.saira {
  font-family: var(--font-saira);
}

.tourney {
  font-family: var(--font-tourney);
}
p{
  font-family: var(--font-saira);
}

.glassmorph {
  border-radius: 20px;
  border: 1px solid #dcd2e1;
  background: lightgray 0% 0% / 154.22531366348267px 154.22531366348267px repeat, radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#FFFF;
  height: 1px;
}